*{ 
margin: 0px;
padding: 0px;
}
.header {   
    width: 1300px;
    height: 604px;

    .botonera {

        display: flex;
        align-items: center;
        padding-top: 20px;
        padding-left: 5%;
        padding-right: 5%;
        font-family: sans-serif;
        
        height: 50px;
        font-weight: bold;

        height: 20px;
    }
    ul link{
        display: inline-block;
        padding-bottom: 20px;
        margin: 70px;

    }   

    a {
        color: antiquewhite;
        text-decoration: none;
    } 

    background-image: url(Img/imgppalpagweb.jpg);

    h1 {
        font-family: sans-serif;
        font-size: 50px;
        padding-top: 80px;
        padding-left: 67px;
        color: antiquewhite;
    }
    
    h2 {
        font-family: sans-serif;
        font-size: 30px;
        padding-left: 67px;
        color: antiquewhite;
    }

    h3 {
        font-family: sans-serif;
        font-size: 20px;
        padding-left: 67px;
        padding-top:  150px;
        color: antiquewhite;
    }
}

.seccion2 {
    width: auto;
    height: auto; 
    text-decoration: none;
    background-color: rgb(248, 246, 246);
    width: 1300px;
    height: 804px;

    h2 {
        font-family: sans-serif;
        font-size: 30px;
        padding-left: 700px;
        padding-top: 140px;
    }
    
    p {
        font-family: sans-serif;
        padding-left: 700px;
        padding-top:180px;
        padding-right: 120px;
        line-height: 22px;
    }     
}